# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
.idea/
*.iml
*.iws
*.ipr
.DS_Store
captures/
.externalNativeBuild
.cxx

# Android Studio
*.log
*.swp
*~
.navigation/
lint/

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar

# ESP32 / Arduino
*.hex
*.bin
*.elf
*.map

# General
*.tmp
*.bak
*.cache
.vscode/
